.tech-wrap{
	background:#6D8D35;
}

/* Рассчитать эффективномть
=============================*/
.dd-form_wrap{
	background:url(../img/r1.jpg) no-repeat top center;
	background-size:cover;
	padding-top: 80px;
	padding-bottom: 100px;
}
.dd-title_form{
	text-align: center;
	padding-bottom: 48px;
	p{
		color:#fff;
		font-size: 30px;
	}
}







@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

